
.slider__wrapper {
    position: relative;
    width: 500px;
    height: 281px;
    border-radius: 8px;
    overflow: hidden;
}

.slider-control__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 24px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 36px;
    }
}